:root {
  --Red: hsl(0, 100%, 74%);
  --Green: hsl(154, 59%, 51%);
  --Blue: hsl(248, 32%, 49%);
  --Dark-Blue: hsl(249, 10%, 26%);
  --Grayish-Blue: hsl(246, 25%, 77%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  font-family: "Lexend Deca", sans-serif;
  font-family: "Overpass", sans-serif;
  font-family: "Poppins", sans-serif;
}

main {
  width: 100%;
  max-width: 1440px;
  background-image: url(/images/bg-intro-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--Red);
  background-position: center;
}

.page-wrapper {
  margin: 0 auto;
  height: 100vh;
  width: 100%;
  max-width: 72em;
  padding: 5em 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-container {
  color: white;
}
.left-container h1 {
  width: 60%;
  line-height: 1.3;
  font-weight: 700;
  font-size: 2.5rem;
}

.left-container p {
  width: 86%;
  padding-top: 1em;
}

.right-container {
  width: 100%;
  max-width: 50%;
  text-align: center;
}

.tryit {
  width: 100%;
  padding: 1em;
  margin-bottom: 1.5em;
  background-color: var(--Blue);
  border-radius: 0.6em;
  color: var(--Grayish-Blue);
  box-shadow: 0 8px 3px rgb(228, 89, 89);
}

.tryit span {
  color: white;
  font-weight: 700;
}

.form-section {
  background-color: white;
  padding: 2em;
  border-radius: 0.6em;
  box-shadow: 0 9px 3px rgb(219, 98, 98);
}

form p {
  font-size: 0.75rem;
  padding-top: 0.2em;
  color: var(--Grayish-Blue);
}

form span {
  color: var(--Red);
  font-weight: 600;
}

.error-message {
  color: var(--Red);
  text-align: end;
  font-weight: 500;
  font-size: 0.7rem;
  margin-bottom: 0.8em;
}

.verify-icon {
  background-image: url(https://cdn.iconscout.com/icon/free/png-64/check-verified-successful-accept-tick-yes-success-2516.png);
  background-repeat: no-repeat;
  background-position: 95%;
  background-size: 1.5em;
}

.input-group input {
  width: 100%;
  padding: 15px 15px;
  margin: 8px 0;
  font-weight: 700;
  text-transform: capitalize;
  display: inline-block;
  outline: 0;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.emailExample {
  color: red;
}

.input-group input:focus {
  outline: 0;
  color: var(--Dark-Blue);
  border: 1px solid var(--Blue);
}

.input-group.invalidLine input:focus {
  border-color: var(--Red);
}

#passwordFormat.hidepasswordformat {
  display: none;
}

#passwordFormat ul li {
  text-decoration: none;
  list-style: none;
  text-align: left;
  font-size: 0.6rem;
  color: var(--Red);
}

#passwordFormat .showpasswordformat {
  display: block;
}

.error-icon {
  background-image: url(/images/icon-error.svg);
  background-repeat: no-repeat;
  background-position: 95%;
}

button {
  width: 100%;
  padding: 1.5em 2.5em;
  margin: 0.6em 0;
  font-weight: 600;
  background-color: var(--Green);
  display: inline-block;
  color: whitesmoke;
  text-transform: uppercase;
  border: 1px solid #ccc;
  border-radius: 0.4em;
  cursor: pointer;
  border-color: var(--Green);
  box-shadow: 0 5px 2px hsl(154, 42%, 51%);;
}

button:hover{
background-color: hsl(154, 59%, 51%,0.7);
}

.hide-error-message {
  display: none;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media (max-width: 1000px) {
  .page-wrapper {
    height: 100vh;
  }
}

@media (max-width: 900px) {
  .page-wrapper {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid rgb(55, 0, 255);
  }

  .left-container h1 {
    width: 100%;
  }

  .left-container p {
    padding: 0.5em 1em 1.5em 1.5em;
    width: 100%;
  }

  .right-container {
    max-width: 30em;
  }
}

@media (max-width: 430px) {
  main {
    background-image: url(/images/bg-intro-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .page-wrapper {
    padding-top: 5em;
    height: 100%;
  }

  .left-container h1 {
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 0.5em;
  }

  .left-container p {
    padding: 0.5em 1em 0em 0em;
    margin-bottom: 3em;
    font-size: 0.9rem;
    font-weight: 500;
  }

  .tryit {
    padding: 1.2em;
    border-radius: 0.6em;
  }

  .form-section {
    padding: 1.5em;
  }
}

@media (max-width: 375px) {
  .tryit {
    padding: 1.2em 3em;
    width: 100%;
  }
}
